<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Delivery</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a href="" class="nav-link">Restaurantes</a>
        <a href="" class="nav-link">Clientes</a>
        <a href="" class="nav-link">Produtos</a>
        <a href="" class="nav-link">Pedidos</a>
      </div>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a href="" class="nav-link">Sair</a>
      </div>
    </div>
  </div>
</nav>
